{%extends 'admin_base.html' %}
{%block title%}Gamebox{%endblock%}

<h1>Gamebox</h1>
{%block content%}
<div class="card text-center">
    <div class="card-header">
      GameBox үүсгэх
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" id="myBtn"class="btn btn-primary" onclick="test()">Go somewhere</a>
      <script src="/static/js/admin.js"></script>
    </div>
    <!-- popup -->
    <div id="divCheckbox" style="display: none;">
      <form action="" method="POST">
        {% csrf_token %}
        <label for="boxname">Boxname</label>
        <input type="text" id="boxname" name="boxname">
        <label for="ip">Ip</label>
        <input type="text" id="ip" name="ip">
        <label for="desc">Description</label>
        <input type="text" id="desc" name="description">
        <label for="sshname">Ssh user</label>
        <input type="text" id="sshname" name="sshname">
        <label for="sshpw">Ssh password</label>
        <input type="text" id="sshpw" name="sshpw">
        <label for="port">Ssh port</label>
        <input type="text" id="port" name="port">
        <select id="cars" name="team">
          {% for user in users%}
            {% if not user.is_superuser %}
            <option value="{{user.id}}">{{user}}</option>
            {%endif%}
          {% endfor %}
        </select>
        <input type="submit" value="Create">
      </form>
    </div>

    <!-- popup end -->
</div>
{%endblock%}